@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.main_container {
    padding: 40px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgb(51, 49, 49);
    min-height: 60vh;
    max-width: 60vh;
    box-shadow: 0 0 100px grey;
}

.action_display {
    max-height: 10px;
    color: rgb(243, 232, 232);
    font-family: "Varela Round", serif;
    font-size: 40px;
}

.display {
    position: relative;
    border-radius: 40px;
    min-height: 15vh;
    max-height: 15vh;
    background-color: rgb(243, 232, 232);
    box-shadow: 2px 2px 30px rgb(36, 35, 35);
    transition: all 0.15s ease-in-out;
}

.display h1 {
    font-family: "Varela Round", serif;
    max-height: 75px;
    font-size: 75px;
    padding-top: 30px;
    padding-left: 20px;
    color: rgb(37, 36, 36);
    overflow: hidden;
}

.display h6 {
    position: absolute;
    font-family: "Varela Round", serif;
    padding-left: 30px;
    max-height: 6px;
    font-size: 20px;
    color: rgb(37, 36, 36);
    top: -30px;
}

.action_btn{
    text-align: center;
    font-family: "Varela Round", serif;
    font-size: 40px;
    color: rgb(243, 232, 232);
    background-color: blueviolet;
    border: none;
    border-radius: 50px;
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    box-shadow: 0 0 8px blueviolet;
    transition: all 0.1s ease-in-out;
}

.btn {
    font-family: "Varela Round", serif;
    font-size: 40px;
    color: rgb(243, 232, 232);
    background-color: rgb(32, 31, 31);
    margin: 10px;
    border: none;
    border-radius: 50px;
    min-width: 100px;
    min-height: 100px;
    box-shadow: 2px 2px 30px rgb(36, 35, 35);
    transition: all 0.1s ease-in-out;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.result {
    font-family: "Varela Round", serif;
    font-size: 80px;
    color: rgb(48, 46, 46);
    background-color: rgb(243, 232, 232);
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 30px;
    min-width: 222px;
    min-height: 100px;
    box-shadow: 0 0 6px white;
    transition: all 0.1s ease-in-out;
}

.display:hover {
    transform: scale(105%);
}

.action_btn:hover {
    background-color: rgb(123, 38, 202);
}

.btn:hover {
    background-color: rgb(24, 23, 23);
}

.result:hover {
    background-color: rgb(226, 211, 211);
}

.btn:active {
    transform: scale(110%);
}

.action_btn:active {
    transform: scale(110%);
}

.result:active {
    transform: scale(110%);
}
